<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header1.html" %}
    <title>EasyGPT--Convert</title>
</head>

<body data-urlprefix="{{ url_prefix }}">
<div class="main-container">
    <div class="ui vertical icon menu" style="height:100%; margin-right: 5px;">
        {% include "menu.html" %}
    </div>
    <div class="ui one column stackable grid" style="width: 100%;">
        <div class="fifteen wide column" style="width:100%; margin-left: 20px;">
            <div class="ui form">
                <div class="ui horizontal divider">
                    <font color="#778899">语料格式转换</font>
                </div>
                <div class="inline fields">
                    <div class="column dm-uploader" id="menu_group">
                        <div class="ui primary button" style="position: relative;overflow: hidden;">
                            <i class="upload icon"></i>
                            上传jsonl语料文件
                            <input type="file" accept=".jsonl" name="up_file" title="Click to add Files"
                                   style="position: absolute;top: 0;right: 0;margin: 0;border: solid transparent;width: 100%;opacity: 0;cursor: pointer;">
                        </div>
                    </div>
                </div>
                <div class="inline fields">
                    <label>转换格式：<i class="help circle icon popup_converter" data-content="将jsonl语料转换为对应模型的微调格式"
                                   data-variation="wide"></i></label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="datatype" type="radio" value="openai">
                            <label>Openai</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="datatype" type="radio" value="qianfan">
                            <label>百度千帆</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="datatype" type="radio" value="llama2">
                            <label>LLama原生</label>
                        </div>
                    </div>
                </div>
                <button class="ui primary button convert_corpus">
                    语料转换
                </button>
            </div>

        </div>
    </div>
</div>

<!-- scripts -->
<script>
    $(function () {

        //popup
        $('.popup_converter').popup();

        var CORPUS = {
            convert: function () {
                alert("开发中");
            },
        };

        //查询
        $(".convert_corpus").click(function () {
            $(".convert_corpus").addClass('loading');
            CORPUS.convert();
        });

    });
</script>
</body>
</html>
